/* Importation des polices via googlefonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  font-family: "Montserrat";
}

.Setup {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

body {
  display: flex;
  height: 100%;
  justify-content: center;
}


#root {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}